## 1. Lists

## Array Vs Lists

- Fixed Vs Dynamic Size
- Convenience -> Hetrogeneous
- Speed of Execution
- Memory

In [ ]:
L = [1,2,3]

print(id(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
print(id(1))
print(id(2))
print(id(3))

140163201133376
11126688
11126720
11126752
11126688
11126720
11126752

## How lists are stored in memory

## Characterstics of a List

- Ordered
- Changeble/Mutable
- Hetrogeneous
- Can have duplicates
- are dynamic
- can be nested
- items can be accessed
- can contain any kind of objects in python

In [ ]:
L = [1,2,3,1]
L1 = [3,2,1]

L == L1

False

## Creating a List

In [ ]:
# Empty
print([])
# 1D -> Homo
print([1,2,3,4,5])
# 2D
print([1,2,3,[4,5]])
# 3D
print([[[1,2],[3,4]],[[5,6],[7,8]]])
# Hetrogenous
print([1,True,5.6,5+6j,'Hello'])
# Using Type conversion
print(list('hello'))

[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, True, 5.6, (5+6j), 'Hello']
['h', 'e', 'l', 'l', 'o']

## Accessing Items from a List

In [ ]:
# Indexing
L = [[[1,2],[3,4]],[[5,6],[7,8]]]
#positive
#print(L[0][0][1])

# Slicing
L = [1,2,3,4,5,6]

print(L[::-1])

[6, 5, 4, 3, 2, 1]

## Adding Items to a List

In [ ]:
# append
L = [1,2,3,4,5]
L.append(True)
print(L)

[1, 2, 3, 4, 5, True]

In [ ]:
# extend
L = [1,2,3,4,5]
L.extend([6,7,8])
print(L)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
L = [1,2,3,4,5]
L.append([6,7,8])
print(L)

[1, 2, 3, 4, 5, [6, 7, 8]]

In [ ]:
L = [1,2,3,4,5]
L.extend('delhi')
print(L)

[1, 2, 3, 4, 5, 'd', 'e', 'l', 'h', 'i']

In [ ]:
# insert
L = [1,2,3,4,5]

L.insert(1,100)
print(L)

[1, 100, 2, 3, 4, 5]

# Editing items in a List

In [ ]:
L = [1,2,3,4,5]

# editing with indexing
L[-1] = 500

# editing with slicing
L[1:4] = [200,300,400]

print(L)

[1, 200, 300, 400, 500]

## Deleting items from a List

In [ ]:
# del
L = [1,2,3,4,5]

# indexing
del L[-1]

# slicing
del L[1:3]
print(L)

[1, 4]

In [ ]:
# remove

L = [1,2,3,4,5]

L.remove(5)

print(L)

[1, 2, 3, 4]

In [ ]:
# pop
L = [1,2,3,4,5]

L.pop()

print(L)

[1, 2, 3, 4]

In [ ]:
# clear
L = [1,2,3,4,5]

L.clear()

print(L)

[]

## Operations on Lists

- Arithmetic
- Membership
- Loop

In [ ]:
# Arithmetic (+ ,*)

L1 = [1,2,3,4]
L2 = [5,6,7,8]

# Concatenation/Merge
print(L1 + L2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
print(L1*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]

print(5 not in L1)
print([5,6] in L2)

False
True

In [ ]:
# Loops
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]
L3 = [[[1,2],[3,4]],[[5,6],[7,8]]]

for i in L3:
  print(i)

[[1, 2], [3, 4]]
[[5, 6], [7, 8]]

## List Functions

In [ ]:
# len/min/max/sorted
L = [2,1,5,7,0]

print(len(L))
print(min(L))
print(max(L))
print(sorted(L,reverse=True))

5
0
7
[7, 5, 2, 1, 0]

In [ ]:
# count
L = [1,2,1,3,4,1,5]
L.count(5)

1

In [ ]:
# index
L = [1,2,1,3,4,1,5]
L.index(1)

0

In [ ]:
# reverse
L = [2,1,5,7,0]
# permanently reverses the list
L.reverse()
print(L)

[0, 7, 5, 1, 2]

In [ ]:
# sort (vs sorted)
L = [2,1,5,7,0]
print(L)
print(sorted(L))
print(L)
L.sort()
print(L)

[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]
[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]

In [ ]:
# copy -> shallow
L = [2,1,5,7,0]
print(L)
print(id(L))
L1 = L.copy()
print(L1)
print(id(L1))

[2, 1, 5, 7, 0]
140163201056112
[2, 1, 5, 7, 0]
140163201128800