## List Comprehension

List Comprehension provides a concise way of creating lists.

newlist = [expression for item in iterable if condition == True]![image.png]()

Advantages of List Comprehension
- More time-efficient and space-efficient than loops.
- Require fewer lines of code.
- Transforms iterative statement into a formula.

In [ ]:
# Add 1 to 10 numbers to a list
L = []

for i in range(1,11):
  L.append(i)

print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# scalar multiplication on a vector
v = [2,3,4]
s = -3
# [-6,-9,-12]

[s*i for i in v]

[-6, -9, -12]

In [ ]:
# Add squares
L = [1,2,3,4,5]

[i**2 for i in L]

[1, 4, 9, 16, 25]

In [ ]:
# Print all numbers divisible by 5 in the range of 1 to 50

[i for i in range(1,51) if i%5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
# find languages which start with letter p
languages = ['java','python','php','c','javascript']

[language for language in languages if language.startswith('p')]

['python', 'php']

In [ ]:
# Nested if with List Comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']

# add new list from my_fruits and items if the fruit exists in basket and also starts with 'a'

[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [ ]:
# Print a (3,3) matrix using list comprehension -> Nested List comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [ ]:
# cartesian products -> List comprehension on 2 lists together
L1 = [1,2,3,4]
L2 = [5,6,7,8]

[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

## 2 ways to traverse a list

- itemwise
- indexwise

In [ ]:
# itemwise
L = [1,2,3,4]

for i in L:
  print(i)

1
2
3
4

In [ ]:
# indexwise
L = [1,2,3,4]

for i in range(0,len(L)):
  print(L[i])

1
2
3
4

## Zip

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together.

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

In [ ]:
# Write a program to add items of 2 lists indexwise

L1 = [1,2,3,4]
L2 = [-1,-2,-3,-4]

list(zip(L1,L2))

[i+j for i,j in zip(L1,L2)]

[0, 0, 0, 0]

In [ ]:
L = [1,2,print,type,input]

print(L)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <google.colab._kernel.Kernel object at 0x7f7a67452a90>>]

## Disadvantages of Python Lists

- Slow
- Risky usage
- eats up more memory

In [ ]:
a = [1,2,3]
b = a.copy()

print(a)
print(b)

a.append(4)
print(a)
print(b)

# lists are mutable

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]

## List Programs

In [1]:
# Create 2 lists from a given list where
# 1st list will contain all the odd numbers from the original list and
# the 2nd one will contain all the even numbers

L = [1,2,3,4,5,6]

odd_lst = [odd for odd in L if odd %2 != 0]

even_lst = [even for even in L if even %2 == 0]

print(odd_lst)
print(even_lst)

[1, 3, 5]
[2, 4, 6]

In [5]:
# How to take list as input from user


n = int(input("Enter the number of elements: "))

L = [input("Enter your item: ") for i in range(n)]

print(L)

Enter the number of elements: 3
Enter your item: 1
Enter your item: hello
Enter your item: false
['1', 'hello', 'false']

In [6]:
# Write a program to merge 2 list without using the + operator
L1 = [1,2,3,4]
L2 = [5,6,7,8]

L1.extend(L2)

print(L1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
# Write a program to replace an item with a different item if found in the list
L = [1,2,3,4,5,3]
# replace 3 with 300


item = int(input("Item to be replaced: "))
to_replace = int(input("Replace with: "))

for i in range(len(L)):
    if L[i] == item:
        L[i] = to_replace

print(L)

Item to be replaced: 3
Replace with: 300
[1, 2, 300, 4, 5, 300]

In [26]:
# Write a program that can convert a 2D list to 1D list

lst_2D =[[1,2],[3,4],[5,6,7]]

# lst_1D = []
# for i in lst_2D:
#   for j in i:
#     lst_1D.append(j)

# print(lst_1D)

one_d = [item for row in lst_2D for item in row]

print(one_d)

[1, 2, 3, 4, 5, 6, 7]

In [32]:
# Write a program to remove duplicate items from a list

L = [1,2,1,2,3,4,5,3,4]

l1 = []

# for i in L:
  # if i not in l1:
  #   l1.append(i)

[l1.append(i) for i in L if i not in l1]

print(l1)

[1, 2, 3, 4, 5]

In [41]:
# Write a program to check if a list is in ascending order or not

numbers = [1,2,3,4, 5]
sorted_numbers = sorted(numbers)

if numbers == sorted_numbers:
  print("List is in ascending order")
else:
  print("List is not in ascending order")

List is in ascending order