#Tuple

Same as list but is immutable.

- Ordered
- Immuatable
- Allows Duplicates

In [ ]:
#Create tuple

tup = ()
print(tup)
print(type(tup))

#create a tuple with single item

tup = (1,) # put comma at last to create a single element tuple
print(tup)
print(type(tup))

# homogenous
tup = (1,2,3,4,5)
print(tup)

#heterogenous

tup = (1,'hello',True)
print(tup)

tup = tuple([1,2,3,4])
print(tup)

tup = tuple("hello")
print(tup)

()
<class 'tuple'>
(1,)
<class 'tuple'>
(1, 2, 3, 4, 5)
(1, 'hello', True)
(1, 2, 3, 4)
('h', 'e', 'l', 'l', 'o')

#Accessing Items

- indexing
- slicing

In [ ]:
tup = (1,2,3,4)

print(tup[0])
print(tup[-1])

print(tup[-1:-3:-1])

print(tup[::-1])

print(tup[::2])

1
4
(4, 3)
(4, 3, 2, 1)
(1, 3)

In [ ]:
# Slicing

tup = (1,2,3,4,5,6,7,8,9,10)

print(tup[::2])

(1, 3, 5, 7, 9)

#Editing Items

In [ ]:
print(tup)

tup[0] = 300 # not allowed as tuple is immutable

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

TypeError: 'tuple' object does not support item assignment

#Adding Items

In [ ]:
tup = (1,2,3,4,5)

#not possible

#Deleting Items

In [ ]:
del tup # you can delete the whole tuple but you can delete any particular element
print(tup)

NameError: name 'tup' is not defined

#Operations on tuple

In [ ]:
# +  and *

tup1 = (1,2,3,4)
tup2 = (5,6,7,8)

print(tup1 + tup2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
tup1 = (1,2,3,4)

print(tup1 * 3)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
# membership

tup = (1,2,3,4)

print(1 in tup)

print(50 in tup)

True
False

In [ ]:
# Iteration

tup = (1,2,3,4)

for i in tup:
    print(i)

1
2
3
4

#Tuple Function

In [ ]:
#len/min/max/sorted/sum

tup = (1,2,3,4)

print(len(tup))

print(min(tup))

print(max(tup))

print(sorted(tup))

print(sum(tup))

4
1
4
[1, 2, 3, 4]
10

In [ ]:
#count

tup = (1,2,3,4,1,2,1,1)

print(tup.count(1))

4

In [ ]:
#index

tup = (1,2,3,4,1,2,1,1)

tup.index(1)

0

#Difference btw Lists and Tuples

- Syntax
- Mutability
- Speed
- Memory
- Built in function
- Error prone
- Usuability

In [ ]:
# Tuple take less processing time than list
import time

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
    i*5
print("List time: ",time.time() - start)

start = time.time()
for i in T:
  i*5
print("Tuple time: ",time.time() - start)

List time:  7.990890264511108
Tuple time:  7.169918775558472

In [ ]:
# Tuple take less size in memory

import sys

L = list(range(1000))
T = tuple(range(1000))

print("List size: ",sys.getsizeof(L))
print("Tuple size: ",sys.getsizeof(T))

List size:  8056
Tuple size:  8040

In [ ]:
# List are more error prone than tuple

a = [1,2,3,4]
b = a

a.append(5)

print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
# Tuple

a = (1,2,3,4)
b = a

a = a + (5,)

print(a)
print(b)

(1, 2, 3, 4, 5)
(1, 2, 3, 4)

In [ ]:
# Tuple Unpacking

a,b,c = (1,2,3)

print(a)
print(b)
print(c)

1
2
3

In [ ]:
a,b = (1,2,3)

print(a)
print(b)

ValueError: too many values to unpack (expected 2)

In [ ]:
# swap values

a = 1
b = 2

a,b = b,a

print(a,b)

2 1

In [ ]:
a,b,*others = (1,2,3,4)

print(a,b)
print(others)

1 2
[3, 4]

In [11]:
# Zipping tuples

a = (1,2,3,4)
b = (5,6,7,8)

tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

#Set

Unordered Collection of elements. Unique and immutable(values can't change) but we can add and delete items.

operations like union, intersection, symmetric difference

Characterstics:

- Unordered
- Mutable
- No duplicates
- Can't contain mutable data types

In [26]:
# Creating Sets

sets = {} # it creates dictionary

print(sets)
print(type(sets))

s = set() # creating empty set

print(s)
print(type(s))

# 1D Sets

sets = {1,2,3,4}

print(sets)

# sets_2d = {1,2,{3,4}} # you can't have it

# print(sets_2d)

# Homo and Hetrogenous

s3 = {1,'hello',True,1.2} # true is considered as 1 that's why true is not printed

print(s3)

s4 = {1,'hello',False,1.2,(1,2,3)}

print(s4)

# s5 = {1,'hello',False,1.2,[1,2,3]} # not allowed

# print(s5)

{}
<class 'dict'>
set()
<class 'set'>
{1, 2, 3, 4}
{1, 'hello', 1.2}
{False, 1, 1.2, 'hello', (1, 2, 3)}

In [28]:
# using type conversion

s = set([1,2,3,4,1])

print(s)

{1, 2, 3, 4}

In [29]:
# Duplicates not allowed

s = set([1,2,3,4,1,2,3])

print(s)

{1, 2, 3, 4}

In [32]:
# set can't have mutable items

s = set([1,2,3,4,[1,2,3]])

print(s)

TypeError: unhashable type: 'list'

In [33]:
s1 = {1,2,3}
s2 = {3,1,2}

print(s1 == s2)

True

#Accessing Items

In [34]:
s = {1,2,3}
s[0]

TypeError: 'set' object is not subscriptable

#Editing Items

In [35]:
s1 = {1,2,3}
s1[0] = 100

TypeError: 'set' object does not support item assignment

#Adding Items

In [38]:
# Adding Items
# Update

s1 = {1,2,3,4}
s1.add(5)

print(s1)
# hasing controls the index position

s1.update([6,7,8])

print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

#Deleting Items

In [46]:
#del

s = {1,2,3,4}

print(s)

del s

# del s[0]

# print(s)

#discard

s = {1,2,3,4,5}

print(s)

s.discard(5)

print(s)

#remove

s.remove(4)  # discard will not throw an error is an item is not present in the set and remove will

print(s)

#pop

s.pop() #pops out random item

print(s)

#clear

s.clear()

print(s)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 2, 3, 4}
{1, 2, 3}
{2, 3}
set()

In [49]:
s = {1,2,3,4}

for i in s:
  print(i)

1
2
3
4

#Set Operations

In [59]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}

#union

s3 = s1.union(s2)

# s1 | s2

print(s3)

# intersection

s4 = s1.intersection(s2)

# s1 & s2

print(s4)

# difference

s5 = s1.difference(s2)

# s1 - s2

print(s5)

# symmetric difference

s6 = s1.symmetric_difference(s2)

# s1 ^ s2

print(s6)

# membership test

s7 = {1,2,3,4}

print(1 in s7)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}
True

# Set Functions

In [65]:
#len/min/max/sorted/sum

s = {1,2,3,4}

len(s)

min(s)

max(s)

sorted(s)

sum(s)

10

In [70]:
# union/update

s1 = {1,2,3,4}
s2 = {5,6,7,8}

s1 | s2

s1.update(s2)

print(s1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [73]:
# intersection/ intersection_update

s3 = {1,2,3,4}
s4 = {3,4,5,6,7,8}

s3.intersection(s4)

s3.intersection_update(s4)
print(s3)

{3, 4}

In [75]:
#difference/difference_update

s5 = {1,2,3,4}
s6 = {3,4,5,6}

s5.difference(s6)

s5.difference_update(s6)

print(s5)

{1, 2}

In [78]:
# symmetricdifference/symmetric_diff_update

s7 = {1,2,3,4}
s8 = {3,4,5,6}

s7.symmetric_difference(s8)

s7.symmetric_difference_update(s8)

print(s7)

{1, 2, 5, 6}

In [81]:
#isdisjoint/issubset/issuperset

s9 = {1,2,3,4}
s10 = {3,4,5,6}

s9.isdisjoint(s10)

s9.issubset(s10)

s9.issuperset(s10)

False

In [82]:
# copy

s11 = {1,2,3,4}

s12 = s11.copy()

print(s12)

{1, 2, 3, 4}

# FrozenSet

Immutable version of set

In [84]:
# create frozenset

fs = frozenset([1,2,3,4])

fs

frozenset({1, 2, 3, 4})

In [ ]:
# what works and what does not

# works -> all read functions
# doen't works -> all write functions

In [87]:
#2D set

fs = frozenset([1,2, frozenset([3,4])])

fs

frozenset({1, 2, frozenset({3, 4})})

#Set Comprehension

In [90]:
{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [91]:
{i for i in range(1,11) if i>5}

{6, 7, 8, 9, 10}

In [94]:
{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}